@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css?family=League Spartan');

* {
    user-select: none;
    font-family: 'League Spartan';
}
/* Navbar element */

.navbar {
    width: 100%;
    height: 120px;
    background-color: #f8f9fa;
    margin: 0;
}


.linksNavigation {
    margin-top: 40px;
    font-family: 'League Spartan';
}

.navbar-nav .nav-link {
padding-right: 1rem;
padding-left: 1rem;
}

.tincan {
    width: auto;
    float: left;
    height: 120px;
}

#tincanLogo {
    background-size: cover;
    transition: transform 1s ease;
    transform: rotate(0deg);
}


/* About section */

.about-heading {
    justify-content: center;
    font-family: 'League Spartan';
    font-size: 36px;
    font-weight: bold;
    color: #333333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}


.about-paragraph {
    color: #555252;
    font-size: 18px;
    font-family: 'League Spartan';
    line-height: 1.5;
    text-align: center;
    margin: 20px;
    padding: 10px;
    /* stop highlighting */
}


/* Buttons */

.btn {
    text-align: center;
    justify-content: center;
}

/* Card elements */

.card {
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
} 

.card div a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;

}

.card:hover {
    transform: scale(1.1);
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out; 
    z-index: 1;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

/* Footer element */

footer {
    background-color: #f5f5f5;
    padding: 50px 0;
    text-align: center;
}

.social-media li {
    display: inline-block;
    margin-right: 50px;
}

.social-media a {
    color: #555252;
    font-size: 20px;
    text-decoration: none;
}

.social-media a:hover, .links:hover {
    transform: scale(1.2);
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    color: #007bff;
}


/* Media query section */
